$primaryDark: hsl(243, 87%, 12%);
$primaryDesaturated: hsl(238, 22%, 44%);
$accentBright: hsl(224, 93%, 58%);
$accentCyan: hsl(170, 45%, 43%);
$neutralGrayishBlue: hsl(240, 75%, 98%);
$neutralGray: hsl(0, 0%, 75%);
$raleway: "Raleway", sans-serif;
$sans: "Open Sans", sans-serif;
$columnPadding: 2em 3em;
